---
Checks: >-
  -*,
  cert-*,
  clang-analyzer-*,
  -clang-analyzer-valist.Uninitialized,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  misc-*,
  -misc-include-cleaner,
  performance-*,
  readability-*,
  -readability-identifier-length,
  -readability-braces-around-statements,
  bugprone-*,
  -bugprone-easily-swappable-parameters

CheckOptions:
  - key: readability-identifier-naming.TypedefSuffix
    value: _t
WarningsAsErrors: '*'
HeaderFilterRegex: '^(src|include)/.*'
SystemHeaders: false
FormatStyle: none
